// Fonts
@font-face{
    font-family: Montserrat-Regular;
    src: url("../../public/fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face{
    font-family: Montserrat-SemiBold;
    src: url("../../public/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

body{
    font-family: 'Montserrat-Regular', Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
}
:focus {
    outline: none !important;
}
img{
    width: 100%;
    height: auto;
}
a{
    color: inherit!important;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none !important;
}
li a:hover, a:hover{
    cursor: pointer !important;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;    
}